@import "./variables";
@import "./resets";

.container {
  width: 100%;
}

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;

  .main-link {
    @include main-link-content();
  }
  
  .main-toggle {
    width: 100%;
    padding: 1rem;
    color: #fff;
    display: none;
    font-size: 1.5rem;
  }

  .main-form {
    display: block;
    margin: auto 0;
    width: 50%;

    &-text {
      border: none;
      width: 80%;
      padding: 0.2rem;
      border-radius: 10px;
    }
    &-text::placeholder {
      color: $primary-color;
      padding: 0.7rem;
    }  
    &-button {
      width: 10%;
      padding: 0.2rem;
      border: none;
      border-radius: 10px;
      font-weight: weight(bold);
      color: $primary-color;
    }
    
  }
        
  .main-nav-list {
    list-style: none;
    display: flex;
  }
  
  .main-nav-item {
    padding: 0.7rem;
    margin-left: -1px;
  }
  
  .main-nav-link {
    text-decoration: none;
    color: white;
    font-weight: weight(medium);
  }
}

.section-wrapper {
  width: 100%;
  background-color: $background_color;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  
  .section-card {
    width: 100%;
    height: 80vh;
    background-color: $primary-color;
    color: white;
    border-radius: 5%;
    box-shadow: 2px 4px 0.7rem rgb(44, 43, 43);

    .section-card-image-wrapper {
      @include section-card-content-container(100%, 50%);
      overflow: hidden;
    }
    
    .section-card-image {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 1em;
    }
    
    .section-card-content-wrapper {
      @include section-card-content-container(100%, 50%);
      display: grid;
      grid-template-rows: .7fr 2.6fr 0.5fr 0.8fr;
      // align-items: center;

      .section-card-content-header {
        font-weight: weight(bold);
        text-align: center;
        font-size: 1.2em;
        text-align: justify;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .section-card-content-description {
        font-weight: weight(regular);
        text-overflow: ellipsis;
        overflow: hidden;
        
      }
      .section-card-content-footer {
        display: flex;
        justify-content: space-between;
      }
      
    }
    
    .button {
      background-color: red;
      border: none;
      border-radius: 1rem 1rem;
      padding: .5em;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 1rem;
      background-color: $secondary-color;
      font-weight: weight(bold);
    }
  }
}

// media query for phone --------------------------------
@import "./home.media.sm";

// media query for tablets ------------------
@import "./home.media.md";