<% include('includes/header') %>

  <link rel="stylesheet" href="../css/signup.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <title><%= pageTitle %></title>
</head>

<body>
  <a href="/" class="signup-back-link"><i class="fa fa-caret-left" aria-hidden="true"></i> Back</a>
  <div class="signup-wrap">
    <h2>Sign Up here</h2>
    <form action="/login">
      <input type="text" name="name" placeholder="First Name..." />
      <input type="text" name="name" placeholder="Last Name..." />
      <input type="email" name="email" placeholder="Email..." />
      <input type="password" name="pwd" placeholder="Password..." />
      <input type="password" name="conf-pwd" placeholder="Confirm Password..." />
      <input type="submit" value="submit" />
    </form>
  </div>
<%- include('includes/footer') %>