* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.main {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #c70039;
}

.main .main-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 0.7rem;
}

.main .main-toggle {
  width: 100%;
  padding: 1rem;
  color: #fff;
  display: none;
  font-size: 1.5rem;
}

.main .main-form {
  display: block;
  margin: auto 0;
  width: 50%;
}

.main .main-form-text {
  border: none;
  width: 80%;
  padding: 0.2rem;
  border-radius: 10px;
}

.main .main-form-text::-webkit-input-placeholder {
  color: #c70039;
  padding: 0.7rem;
}

.main .main-form-text:-ms-input-placeholder {
  color: #c70039;
  padding: 0.7rem;
}

.main .main-form-text::-ms-input-placeholder {
  color: #c70039;
  padding: 0.7rem;
}

.main .main-form-text::placeholder {
  color: #c70039;
  padding: 0.7rem;
}

.main .main-form-button {
  width: 10%;
  padding: 0.2rem;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  color: #c70039;
}

.main .main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-nav-item {
  padding: 0.7rem;
  margin-left: -1px;
}

.main .main-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.section-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-wrapper .section-card {
  width: 100%;
  background-color: #c70039;
  color: white;
  border-radius: 5%;
  -webkit-box-shadow: 2px 4px 0.7rem #2c2b2b;
          box-shadow: 2px 4px 0.7rem #2c2b2b;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.section-wrapper .section-card .section-card-image-wrapper {
  padding: 0.5rem;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.section-wrapper .section-card .section-card-image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1em;
}

.section-wrapper .section-card .section-card-content-wrapper {
  padding: 0.5rem;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .7fr 2.6fr 0.5fr 0.8fr;
      grid-template-rows: .7fr 2.6fr 0.5fr 0.8fr;
}

.section-wrapper .section-card .section-card-content-wrapper .section-card-content-header {
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  text-align: justify;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-wrapper .section-card .section-card-content-wrapper .section-card-content-description {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section-wrapper .section-card .section-card-content-wrapper .section-card-content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-wrapper .section-card .button {
  background-color: red;
  border: none;
  border-radius: 1rem 1rem;
  padding: .5em;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1rem;
  background-color: #ffc300;
  font-weight: 700;
}

.section-wrapper .section-card:hover {
  -webkit-box-shadow: 4px 8px 1rem #2c2b2b;
          box-shadow: 4px 8px 1rem #2c2b2b;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #24292E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
}

footer .footer-heart {
  color: red;
  display: inline;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .main {
    display: block;
  }
  .main .main-link {
    display: none;
  }
  .main .main-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .main-toggle a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 0.1rem;
  }
  .main .main-form {
    display: none;
    width: 100%;
    padding: .7rem;
    text-align: center;
    border-top: 1px solid red;
  }
  .main .main-form-text {
    width: 60%;
  }
  .main .main-form-button {
    width: 10%;
  }
  .main .main-nav-list {
    display: none;
    width: 100%;
  }
  .main .main-nav-item {
    text-align: center;
    margin-top: -1px;
    border-left: 0;
    border-right: 0;
  }
  .main .active {
    display: block;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .section-wrapper {
    -ms-grid-columns: (80%)[1];
        grid-template-columns: repeat(1, 80%);
    grid-gap: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .section-wrapper {
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=home.css.map */