* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #24292E;
}

body i {
  font-family: "FontAwesome" !important;
  font-style: normal;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #c70039;
}

.nav-list-item {
  list-style-type: none;
  margin: .5rem 1rem;
  text-transform: uppercase;
}

.nav-list-item-link {
  color: #fff;
  -webkit-transition: border-bottom 300ms;
  transition: border-bottom 300ms;
}

.nav-list-item-link:hover {
  border-bottom: 2px solid greenyellow;
}

main {
  height: 40vh;
}

.main-link-container {
  height: 100%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-link-container .main-link {
  color: #fff;
  border: 1px solid;
  padding: 1rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main-link-container .main-link:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 1rem;
}

.main-link-container .main-link:hover .main-link-icon {
  color: blue;
}

.section-cards-wrapper {
  background-color: #24292E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  padding: 2rem;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-cards-wrapper .section-card {
  width: 100%;
  background-color: #3F4448;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

.section-cards-wrapper .section-card .section-card-list a {
  color: #59e24d;
}

.section-cards-wrapper .section-card .section-card-list a:hover {
  color: green;
}

.section-cards-wrapper .section-card-header {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem 0;
}

.section-cards-wrapper .section-card-delete-btn {
  border: none;
  display: inline-block;
  border: .5px solid white;
  color: white;
  background-color: #c70039;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-cards-wrapper .section-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-cards-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .section-cards-wrapper {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
  }
}
/*# sourceMappingURL=manage.css.map */