@import "../resets";
body {
    background: url('../images/signup-min.jpg');
    background-size: cover;
    background-position: center;
}
.signup-wrap {
    max-width: 350px;
    border-radius: 20px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    margin: auto;
    margin-top: 100px;
    color: #fff;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 5px;
    background: rgba(0,0,0,0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    margin: 5px;
    font-weight: bold;;
}

input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.8;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background: #003366;
    opacity: 0.5;
}