@import "../resets";
$shade1: #24292E;

body {
  background: url("../images/login.jpg");
  background-size: cover;
  background-position: center;
  background-color: $shade1;
}

.signup-back-link {
  color: #fff;
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-transform: uppercase;
  padding: .3rem;
  border-radius: 12px;
  border: 1px solid #0a9df8;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 350ms ease-in;
}
.signup-back-link:hover {
  background-color: #0a9df8;
}
.signup-wrap {
  max-width: 350px;
  border-radius: 20px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-top: 100px;
  color: #fff;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  margin: 5px;
  font-weight: bold;
}

input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #0a9df8;
  opacity: 0.8;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 350ms ease-out;
}

input[type="submit"]:hover {
  background: #0a85ff;
  opacity: 0.5;
}
.signup-create-account {
  font-size: small;
  padding-top: 1rem;
  margin-bottom: 0;
  a {
    color: rgb(226, 134, 47);
    text-transform: uppercase;
  }
  a:hover {
    color: rgb(211, 226, 78);
    border-bottom: 1px solid rgb(211, 226, 78); 
  }

}
$small-device: 600px;
$medium-device: 992px;
$large-device: 1200px;
@media screen and (max-width: $medium-device) {
  body {
    background: url("../images/signup-mobile.jpg");
  }
}